<a href="https://colab.research.google.com/github/dadacoding/12th_project/blob/master/NIA/0704_prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[ 범주형 데이터 실수화 실습 ]**

### 범주형 데이터의 실수화와 범주형 변수의 연속형 변수 변환

1. 범주형 데이터의 실수화

In [6]:
### 1) 필요 라이브러리 import

import pandas as pd
from sklearn.preprocessing import LabelEncoder   # 범주형 데이터의 실수화 함수 import
from sklearn.preprocessing import OneHotEncoder  # 더미변수 생성, 가변환 함수 import

In [7]:
### 2) 데이터 set 생성 및 확인

# 데이터 set 생성
x_train = pd.DataFrame(["남성", "여성", "남성", "여성", "남성", "여성"], columns=["성별"])

# 데이터 확인
x_train

   성별
0  남성
1  여성
2  남성
3  여성
4  남성
5  여성

In [8]:
x_train.info()  # 데이터 프레임의 정보 확인 > object 타입, '성별' 변수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   성별      6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [9]:
x_train['성별'].value_counts()  # 범주형 데이터의 갯수 확인

남성    3
여성    3
Name: 성별, dtype: int64

In [10]:
### 3) 레이블 인코딩 : 문자를 0부터 시작하는 정수형 숫자로 변환

# 레이블 인코더 생성
encoding = LabelEncoder()

# x_train 데이터를 이용하여 피팅하고 레이블 숫자로 변환
encoding.fit(x_train["성별"])
x_train["성별_인코딩"] = encoding.transform(x_train["성별"])

In [11]:
### 4) 인코딩 결과 확인
x_train

   성별  성별_인코딩
0  남성       0
1  여성       1
2  남성       0
3  여성       1
4  남성       0
5  여성       1

In [12]:
print(list(encoding.classes_))                   # 클래스 확인
print(list(encoding.inverse_transform([0,1])))   # 인코딩 값으로 문자값 확인 > 남성은 0, 여성은 1로 변환된 것 확인

['남성', '여성']
['남성', '여성']